<h1 class="text-center mt-4 mb-4">New Post</h1>

<% if @post.errors.any? %>
  <div id="error_explanation" class="text-center">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render 'form' %>
<div class="text-center mt-4">
  <%= link_to 'Back to Posts', posts_path %>
</div>